.results {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;

    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, .5);

    &__heading {
        margin: 0 0 10px 0;
        &_small {
            display: inline;

            margin: 0 10px 0 0;
        }
    }

    &__return-button {
        margin-top: 20px;
        padding: 5px 14px;

        font-size: 16px;

        color: white;
        border: none;
        border-radius: 4px;
        background-color: #00c49d;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);

        cursor: pointer;

        &:hover {
            position: relative;
            bottom: 1px;

            box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
        }
    }

    &__counter {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 35px;
        height: 20px;
        margin: 0;

        font-size: 14px;

        color: white;
        border-radius: 10px;

        &_correct {
            background-color: green;
        }

        &_incorrect {
            background-color: red;
        }
    }

    & hr {
        margin: 19px 0 13px;
    }
}

@media screen and (max-width: 469px) {
    .results {
        width: 290px;
        padding: 10px;
        &__heading {
            font-size: 22px;
            &_small {
                font-size: 16px;
            }
        }

        & hr {
            margin: 7px 0 5px;
        }

        &__counter {
            width: 24px;
            height: 15px;

            font-size: 10px;
        }
    }
}