.start-screen {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: white;
    background-image: url("../assets/img/bg_speak-it.png");
    background-size: cover;;

    &__heading {
        margin: 5px 0;

        font-size: 60px;
        font-weight: 600;

        text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    }

    &__text {
        padding: 0 10px;

        font-size: 24px;

        text-shadow: 2px 2px 4px rgba(0, 0, 0, .8);

        text-align: center;

        &_select {
            margin-bottom: 5px;

            font-size: 18px;
        }
    }

    &__select-mode {
        padding: 7px;

        border-radius: 5px;
    }

    &__start-button {
        height: 50px;
        padding: 0 60px;

        font-size: 22px;

        color: white;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: #00c49d;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);

        &:hover {
            box-shadow: 4px 4px 6px rgba(0, 0, 0, .2);

            transform: scale(1.01);
        }
    }
}