.header {
    position: relative;

    width: 100%;
    padding: 15px 0;

    background: #00c49d;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, .25);

    text-align: center;

    &__heading {
        margin: 10px 0;
        margin-bottom: .5rem;

        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2;

        color: white;
    }
}