.speak-it {
    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;

        box-sizing: border-box;
        max-width: 1060px;
        margin: 0 auto;
        padding: 0 10px 20px;
    }

    &__settings-score-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        min-height: 50px;
        padding: 10px 0;
    }

    &__image {
        width: 300px;
        height: 200px;
        margin-bottom: 10px;

        border-radius: 5px;
        box-shadow: 5px 5px 25px rgba(118,118,118,.25);
    }

    &__input-wrap {
        position: relative;

        &::after {
            position: absolute;
            top: 8px;
            left: 3px;

            display: block;

            width: 25px;
            height: 25px;

            background-image: url("./assets/img/microphone.svg");
            background-size: cover;

            content: "";
            animation: microphone 1s infinite alternate ease-in-out;

            @keyframes microphone {
                from {
                    transform: scale(1);
                }
                to {
                    transform: scale(.85);
                }
            }
        }
    }

    &__input {
        box-sizing: border-box;
        width: 300px;
        height: 40px;
        padding-left: 30px;

        border: 1px solid white;
        border-radius: 5px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, .2);
    }

    &__translation {
        box-sizing: border-box;
        height: 40px;
        margin: 0;
        padding: 10px 10px 13px;

        font-size: 24px;
        line-height: 11px;
        &:first-letter {
            text-transform: uppercase;
        }
    }

    &__cards-container {
        margin-top: 10px;
    }

    &__buttons-container {
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .speak-it__settings-score-wrap {
        align-items: center;
        flex-direction: column;

        min-height: 72px;
    }
}

@media screen and (max-width: 424px) {
    .speak-it {
        &__input {
            width: 260px;
        }
    }
}