.statistics {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;

    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, .5);

    &__stats-wrap {
        overflow-y: scroll;

        box-sizing: border-box;
        max-width: 400px;
        max-height: 450px;
        padding: 12px;

        border: 1px solid lightgray;
        border-radius: 5px;
    }

    &__return-button {
        margin-top: 20px;
        padding: 5px 14px;

        font-size: 16px;

        color: white;
        border: none;
        border-radius: 4px;
        background-color: #00c49d;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);

        &:hover {
            position: relative;
            bottom: 1px;

            box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
        }
    }
}


@media screen and (max-width: 469px) {
    .statistics {
        width: 290px;
        &__heading {
            margin: 0 0 5px;
        }
        &__stats-wrap {
            height: 190px;
        }
    }
}