.card {
    display: grid;

    width: 200px;
    height: 75px;

    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);

    cursor: pointer;

    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr 1fr;

    &:hover {
        position: relative;
        right: 2px;
        bottom: 2px;

        box-shadow: 4px 4px 6px rgba(0, 0, 0, .2);

        transform: scale(1.01);
    }

    &_active {
        background-color: aliceblue;
    }

    &__audio-wrap {
        align-self: center;

        width: 30px;
        height: 30px;
        margin-left: 15px;

        background-image: url("../../assets/img/speaker.svg");

        grid-column: 1/2;
        grid-row: 1/3;
    }

    &__word {
        align-self: end;

        margin: 0 0 3px;

        text-align: center;

        grid-column: 2/3;
        grid-row: 1/2;

    }

    &__transcription {
        text-align: center;

        grid-row: 2/3;
        grid-column: 2/3;
        margin: 0px;
    }
}

@media screen and (min-width: 860px) and (max-width: 1079px) {
    .card {
        &:nth-last-child(-n+2) {
            grid-column: 2/3;
        }

        &:nth-last-child(1) {
            grid-column: 3/4;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 860px) {
    .card:nth-last-child(1) {
        grid-column: 2/3;
    }
}


