.settings {
    display: flex;
    align-items: center;
    flex-direction: row;

    &__text {
        margin: 0;
        margin-right: 5px;
    }

    &__group {
        input {
            display: none;
        }

        input:checked + label {
            box-shadow: 0 0 0 2px #00c49d, inset 0 0 0 2px #fff5ee;
        }

        label {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            box-sizing: border-box;
            width: 25px;
            height: 25px;
            margin: 0;
            margin: 0 5px;
            padding-right: 1px;

            line-height: 1px;

            color: white;
            border-radius: 50%;
            background-color: #00c49d;

            cursor: pointer;
            &:hover {
                box-shadow: 1px 1px 3px rgba(0, 0, 0, .27);
            }
        }
        &:not(:last-child) label::after {
            position: absolute;
            right: -10px;

            display: block;

            width: 10px;
            height: 2px;

            background-color: #00c49d;

            content: "";
        }
    }
}